<body class="bg-gray-100">
  <section class="p-3 sm:p-5 antialiased mt-4">
    <div class="mx-auto max-w-screen-2xl px-4 lg:px-12">
      <div
        class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden"
      >
        <div
          class="flex flex-col md:flex-row md:items-center md:justify-between space-y-3 md:space-y-0 md:space-x-4 p-4"
        >
          <div class="flex-1 flex items-center space-x-2">
            <h1
              class="mb-1 text-2xl font-extrabold text-gray-900 dark:text-white md:text-4xl lg:text-5xl"
            >
              <span
                class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400"
                >Online brandsList:
              </span>
              <small class="ms-2 font-semibold text-gray-500 dark:text-gray-400"
                >Classement des meilleurs marques en ligne</small
              >
            </h1>
          </div>
        </div>
        <div
          class="flex flex-col sm:flex-row items-stretch md:items-center md:space-x-3 space-y-3 md:space-y-0 justify-between mx-4 py-4 border-t dark:border-gray-700"
        >
          <div class="w-full md:w-1/2">
            <form class="flex items-center" id="searchForm">
              <label for="simple-search" class="sr-only">Rechercher</label>
              <div class="relative w-full">
                <div
                  class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
                >
                  <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <input
                  type="text"
                  [(ngModel)]="searchQuery"
                  placeholder="Rechercher les marques"
                  required=""
                  class="border border-gray-300 text-gray-900 text-sm rounded-lg block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                />
              </div>
            </form>
          </div>
          <div
            class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 mt-1"
          >
            <button
              type="button"
              data-modal-target="createBrandModal"
              data-modal-toggle="createBrandModal"
              class="py-2 px-3 flex items-center text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
              <i class="fa-solid fa-plus mr-2"></i>
              Ajouter
            </button>
          </div>
        </div>

        <div class="overflow-x-auto">
          <table
            class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
          >
            <thead
              class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
            >
              <tr>
                <th scope="col" class="p-4">
                  <div class="flex items-center">
                    <input
                      id="checkbox-all"
                      type="checkbox"
                      class="w-4 h-4 text-primary-600 bg-gray-100 rounded border-gray-300 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                    />
                    <label for="checkbox-all" class="sr-only">checkbox</label>
                  </div>
                </th>
                <th scope="col" class="p-4">#</th>
                <th scope="col" class="p-4">Marques</th>
                <th scope="col" class="p-4">Description</th>

                <th scope="col" class="p-4">Créé le</th>
              </tr>
            </thead>

            <tbody>
              <!-- En Angular : *ngFor="let brand of brands; let i = index" -->
              <tr
                class="border-b dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700"
                *ngFor="let brand of brands; let i = index"
              >
                <td class="p-4 w-4">
                  <div class="flex items-center">
                    <input
                      id="checkbox-1"
                      type="checkbox"
                      onclick="event.stopPropagation()"
                      class="w-4 h-4 text-primary-600 bg-gray-100 rounded border-gray-300 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                    />
                    <label for="checkbox-1" class="sr-only">checkbox</label>
                  </div>
                </td>

                <td class="px-4 py-3">
                  <span
                    class="bg-primary-100 text-primary-800 text-xs font-medium px-2 py-0.5 rounded dark:bg-primary-900 dark:text-primary-300"
                  >
                    {{ i + 1 }}
                  </span>
                </td>

                  <td class="px-4 py-3">
                  <span
                    class="bg-primary-100 text-primary-800 text-xs font-medium px-2 py-0.5 rounded dark:bg-primary-900 dark:text-primary-300"
                  >
                    {{ brand.brand_name }}
                  </span>
                </td>

                <td class="px-4 py-3">
                  <span
                    class="bg-primary-100 text-primary-800 text-xs font-medium px-2 py-0.5 rounded dark:bg-primary-900 dark:text-primary-300"
                  >
                    {{ brand.description }}
                  </span>
                </td>

                <td class="px-4 py-3">{{ brand.created_at }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <nav
          class="flex flex-col md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0 p-4"
          aria-label="Table navigation"
        >
          <button
            (click)="changePage(currentPage - 1)"
            [disabled]="currentPage <= 1"
          >
            Précédent
          </button>
          <button
            *ngFor="let page of [].constructor(totalPages()); let i = index"
            (click)="changePage(i + 1)"
          >
            {{ i + 1 }}
          </button>
          <button
            (click)="changePage(currentPage + 1)"
            [disabled]="currentPage >= totalPages()"
          >
            Suivant
          </button>
        </nav>
      </div>
    </div>
  </section>

  <!-- Add brand Modal -->
  <div
    id="createBrandModal"
    tabindex="-1"
    data-modal-backdrop="static"
    aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] md:h-full"
  >
    <div class="relative p-4 w-full max-w-xl h-full md:h-auto">
      <div
        class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5"
      >
        <div
          class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600"
        >
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            Ajouter une nouvelle marque
          </h3>
          <button
            type="button"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
            data-modal-toggle="createBrandModal"
          >
            <i class="fa-solid fa-xmark"></i>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <form (ngSubmit)="submitBrand()" #brandForm="ngForm">
          <div>
            <label
              for="name"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >
              Nom de la marque</label
            >
            <input
              type="text"
              name="brand_name"
              [(ngModel)]="newBrand.brand_name"
              id="brand_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Entrer le nom de la marque"
              required
            />
          </div>

          <div class="sm:col-span-2 my-4">
            <label
              for="description"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Description</label
            ><textarea
              id="description"
              rows="4"
              name="description"
              [(ngModel)]="newBrand.description"
              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="entrer une description de la marque"
            ></textarea>
          </div>

          <div class="items-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
            <button
              type="submit"
              class="w-full sm:w-auto justify-center text-white inline-flex bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
              Enregistrer
            </button>

            <button
              data-modal-toggle="createBrandModal"
              type="button"
              class="w-full justify-center sm:w-auto text-gray-500 inline-flex items-center bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600"
            >
              <i class="fa-solid fa-xmark mr-2"></i>
              Annuler
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
