.star-shape {
  background-color: gold;
  width: 30%;
  height: 30%;
  /*star shaped cutout, works  best if it is applied to a square*/
  /* from Clippy @ https://bennettfeely.com/clippy/ */
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.star-wrap {
  width: max-content;
  margin: 0 auto;
  position: relative;
}
.star-label.hidden {
  display: none;
}
.star-label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
}


.star:checked + .star-label ~ .star-label .star-shape {
  background-color: lightgray;
}

.star {
  position: fixed;
  opacity: 0;
  left: -90000px;
}

